.links {
    color: white;
    text-decoration: underline;
}

body {
    background-color: gray;
}

.counter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.smug-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.counter {
    font-size: 24px;
    line-height: 30px;
    font-family: 'Fredoka One', 'serif';
    color: white;
    -webkit-text-stroke: medium black;
}